/* 모바일용 미디어쿼리(max-width:480px) */

@media screen and (max-width:480px) {
    .h-top {
        width: 80%;
        height: auto;
        background-color: #fff;
    }
    .main-menu {
        padding: 40px 24px 32px 24px;
    }
    .jordan-logo a {
        padding-left: 24px;
        margin-bottom: 32px;
    }
    .top-menu-area, .customer {
        padding: 40px 24px;
    }
    .sub-menu {
        padding-top: 40px;
        padding-left: 24px;
    }
    header {
        height: 48px;
    }
    .logo img {
        height: 18px;
    }
    .icon-menu img {
        height: 20px;
    }
    .icon-menu ul li {
        margin-left: 14px;
    }
    .index-wrap {
        padding: 0 16px;
    }
    /* 메인 타이틀 */
    .main-visual, .content {
        margin-bottom: 48px;
    }
    .title-01 {
        font-size: 1.5em;
        padding-top: 24px;
    }
    .title-01-text {
        font-size: 0.8125em;
        padding: 12px 10px 0 10px;
    }
    .title-01-text br {
        display: none;
    }
    .btn-01 {
        font-size: 0.75em;
        padding: 4px 16px;
        margin: 18px 4px 0 4px;
        border-radius: 13px;
    }
    
    /* 이번주 스타일링 */
    .content-img-wrap {
        width: 100%;
        overflow: scroll;
        /* 익스플로러에서 스크롤바 안보이게 */
        -ms-overflow-style: none;
    }
    /* 크롬, 사파리에서 스크롤바 안보이게 */
    .content-img-wrap::-webkit-scrollbar {
        display: none;
    }
    .content-img {
        width: 622px;
        display: block;
    }
    .content-img > .main-img {
        float: left;
        margin-right: 8px;
        width: 202px;
    }
    .content-title {
        font-size: 1em;
        margin-bottom: 12px;
    }

    /* Trending Now*/
    .trend {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    .trend-img {
        width: 100%;
        flex: none;
    }
    .trend-img:first-child {
        margin-right: 0;
        margin-bottom: 12px;
    }
    .trend-img > img {
        width: 100%;
    }
    .trend-text {
        bottom: 18px;
        left: 18px;
    }
    .c-white {
        margin-bottom: 8px;
     }
     .b-white {
        margin: 0;
     }

     /* 스와이퍼 슬라이드 */
     .Featured-slide .swiper-slide {
        width: 60%;
    }
    .Featured-title {
        font-size: 0.8125em;
        margin-top: 12px;
    }
    .featured-text {
        font-size: 0.6875em;
        line-height: 14px;
        margin-top: 4px;
    }
    .featured-control {
        width: 52px;
        height: 16px;
        top: 3px;
    }
    .f-next, .f-prev {
        width: 16px;
        height: 16px;
        margin-top: 0;
        top: 0;
    }
    .f-next::after, .f-prev::after {
        font-size: 0.75em;
        color: #999;
    }
    .f-pager {
        bottom: 1px;
        font-size: 0.6875em;
    }
    /* 푸터 */
    .f-bottom p {
        box-sizing: border-box;
        padding: 0 4%;
    }
    .inipay br {
        display: none;
    }
    .inipay p:last-child {
        flex-direction: column;
    }

}